# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VS Code
.vscode/

# macOS / Linux
.DS_Store
*.swp
*~

# Logs and temporary files
*.log
*.tmp

# Testing / coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy / pylint / etc
.mypy_cache/
.pytype/
.pytest_cache/

#llm  and llama cpp
cudnn-local-repo-ubuntu2404-9.10.1_1.0-1_amd64.deb
llama.cpp

#images and pdfs
downloaded_books

#song txt files

#tokens
token.txt

#vectordb
vector_db/chroma.sqlite3
vector_db

all-MiniLM-L6-v2.F16.gguf
optuna_studies.db
RAG_builder/mk_core_news_sm-3.8.0-py3-none-any